html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


/** CODIGO AQUI **/

@media (min-width: 768px) {
    .layout-shifter{
        display: grid;
        grid-template-areas: "contenido"
                                "inferior";
        gap: 2rem;
    }

    .sidebar{
        grid-area: inferior;
    }

    .contenido-principal{
        grid-area: contenido;
        display: grid;
        grid-template-areas: "entrada1 entrada2";
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;


    }
}   

@media (min-width: 992px) {
    .layout-shifter{
        grid-template-areas: "contenido sidebar";

    }

    .sidebar{
        grid-area: sidebar;
    }
    
    
    .contenido-principal{
        grid-area: contenido;

        grid-template-areas: "entrada1"
                             "entrada2";
        grid-template-columns: unset;
    }
}