html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

.contenedor{
    max-width: 120rem;
    width: 95%;  /* No es nada recomendable escribir el ancho de manera fija */
    margin: 0 auto;
}
img{
    max-width: 100%;
}
p{
    text-align: justify;
}

@media (min-width: 768px) {
    .contenedor{
        width: 80%;
    }
}

@media (min-width: 992px) {
    .contenedor{
        width: 60%;
    }

}


