html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

@media (min-width: 768px) {
    .layout-shifter{
        display: flex;
        flex-direction: column-reverse; /*El ordenamiento de los elementos se cambia a columnas unicamente.*/
    }

    .contenido-principal{
        display: flex;
        gap: 2rem;
    }

    .entrada-blog{
        flex: 0 0 calc(50% - 2rem);
    }
}

@media (min-width: 992px) {
    .layout-shifter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

    }
    .contenido-principal{
        flex: 0 0 calc(66.6% - 2rem);
        flex-wrap: wrap;
    }

    .sidebar{
        order: 2; /*En order el numero va a ser su orden, '-1' significa que se va mostrar primero. 2, 3 se va ir mostrando al final o en ese orden*/
        flex: 0 0 calc(33.3% - 2rem);
    }

    .entrada-blog{
        flex: 0 0 100%;
    }
}